html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  /*overflow-y: hidden;*/
  box-sizing: border-box;
}

#root {
  padding: 0;
  margin: 0;
  border: 1px solid red;
  /*width: 100%;*/
  /*height: 100%;*/
  /*height: 100vh;*/
}


